a {
  text-decoration: none;
  color: black;
  
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.navActive {
  color: #4e148c;
}

#jumbotron {

  background-color: #8ac926;
}