a {
  text-decoration: none;
  color: black;
  
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.navActive {
  color: #4e148c;
}

#jumbotron {

  background-color: #8ac926;
}

footer {

  background-color: #8ac926;
}

#img {
  width: 75px;

  height: 75px;
}

.primary {
  background-color: #fef9ef;
}

#portfolio-img {

  width: 425px;

  height: 225px;
}

#card-background {

  background-color: #dee2e6;
  margin-top: 250px;
}

.list-item {
  list-style: square;
}